.flows.json.backup
[{"id":"29efb3e3.07debc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f8b45432.9f67e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ab3c6423.fbfd18","type":"inject","z":"29efb3e3.07debc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":160,"wires":[["2f92331e.adc2b4"]]},{"id":"2bbb0a9f.ec56a6","type":"debug","z":"29efb3e3.07debc","name":"","active":true,"console":false,"complete":"false","x":423,"y":268,"wires":[]},{"id":"ebdfa1c1.74ae1","type":"status","z":"29efb3e3.07debc","name":"","scope":null,"x":114,"y":84,"wires":[[]]},{"id":"2eb1a07d.9de098","type":"inject","z":"29efb3e3.07debc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109,"y":288,"wires":[["2bbb0a9f.ec56a6"]]},{"id":"55eaa5bf.4a4b7c","type":"inject","z":"29efb3e3.07debc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":146,"y":375,"wires":[["2bbb0a9f.ec56a6"]]},{"id":"2f92331e.adc2b4","type":"function","z":"29efb3e3.07debc","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":408,"y":181,"wires":[["2bbb0a9f.ec56a6"]]}]